.title {
  font-size: 48px;
  line-height: 120%;
  font-weight: 800;
}

.text-dark {
  color: #747474;
}

.wrapper-ext {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.form-space {
  margin-top: 36px;
}

.button-space {
  margin-top: 18px;
}

.text-social {
  text-align: center;
  font-weight: 800;
}

.input-fill {
  width: 100%;
}

.button-fill {
  width: 100%;
}

.social-container {
  display: flex;
  justify-content: space-evenly;
}

.social-img {
  max-width: 48px;
  max-height: 48px;
  cursor: pointer;
}
