<div class="wrapper">
  <div class="row custom-row">
    <div class="col-md-6">
      <h1 class="title">
        Connect with everyone
      </h1>

      <p class="sub-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque consequatur, debitis
        deserunt doloremque dolores eveniet illum laboriosam molestiae nemo odit optio
        perferendis qui quo reiciendis rem tempore temporibus ullam.
      </p>

      <button mat-flat-button color="primary" class="button-call-to-action" routerLink="/sign-up">
        Create an account
      </button>
    </div>

    <div class="col-md-6 align-image">
      <img
        src="assets/img/tablet_app.png"
        alt="app use"
        class="image-tablet"
      />
    </div>
  </div>
</div>
