.spacer {
  flex: 1 1 auto;
}

.toolbar-wrapper {
  padding: 0 64px;
}

.logo {
  max-width: 115px;
  max-height: 48px;
}

.toolbar-custom {
  background-color: white;
}

.button-margin {
  margin-right: 18px;
}

.button-border-color {
  border-color: #7479ED;
}
