<nav class="bottom-nav max-nav">
  <a class="bottom-nav__destination">
    <mat-icon>
      chat
    </mat-icon>
    <span class="bottom-nav__label">
      Chat
    </span>
  </a>

  <a class="bottom-nav__destination">
    <mat-icon>
      people
    </mat-icon>
    <span class="bottom-nav__label">
      Participants
    </span>
  </a>

  <a class="bottom-nav__destination">
    <mat-icon>
      videocam
    </mat-icon>
    <span class="bottom-nav__label">
      Video
    </span>
  </a>

  <a class="bottom-nav__destination">
    <mat-icon>
      mic
    </mat-icon>
    <span class="bottom-nav__label">
      mute
    </span>
  </a>

  <a class="bottom-nav__destination">
    <mat-icon>
      call_end
    </mat-icon>
    <span class="bottom-nav__label">
      End call
    </span>
  </a>
</nav>
